<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Revolution&family=Protest+Riot&family=Rock+Salt&display=swap')
</style>

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', 'Open Sans';
    font-size: 2em;
    color: black;
    margin-top: 10px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    text-align: center;
    padding: 35px;
  }
.msg h2 {
    color: white;
  }
.msg p {
    color: white;
    padding-bottom: 15px;
}
body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    text-align: center
}
header {
    background-color: #d9c2a3;
}
h2 {
    margin: 0;
}
h4 {
    color: black;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: black;
    color: white;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.book:hover, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
#logo_link {
    padding-top: 5px;
}
main section img {
    box-sizing: border-box;
    text-align: center;
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
}
footer { 
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.logo {
    width: 80px;
}
#hero-img .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}