.welcome-img {
    width: 500px;
}
.welcome-img2 {
    width: 500px;
}
.social a img {
    width: 30px; 
    height: 30px;
}
.service-img {
    width: 500px;
}
.service-img2 {
    width: 500px;
}
.contactus-img {
    width: 450px;
}
.contactus-img2 {
    width: 600px;
}